In [1]:
import pandas as pd

In [2]:
titles = pd.read_csv('titles.csv')
titles.head()

                  title  year
0    Tasveer Mere Sanam  1996
1              Only You  1994
2  El pueblo del terror  1970
3               Machine  2007
4                  MARy  2008

### How many movies are listed in the titles dataframe?

In [3]:
len(titles)

244914

### What are the earliest two films listed in the titles dataframe?

In [4]:
titles.sort_values('year').head(2)

                     title  year
193222          Miss Jerry  1894
51388   The Startled Lover  1898

### How many movies have the title "Hamlet"?

In [5]:
len(titles[titles.title=="Hamlet"])

20

### How many movies are titled "North by Northwest"?

In [6]:
len(titles[titles.title=='North by Northwest'])

1

### When was the first movie titled "Hamlet" made?

In [7]:
titles[titles.title=='Hamlet'].sort_values('year').head(1)

        title  year
52521  Hamlet  1910

### List all of the "Treasure Island" movies from earliest to most recent.

In [8]:
titles[titles.title=='Treasure Island'].sort_values('year')

                  title  year
55686   Treasure Island  1918
196514  Treasure Island  1920
141822  Treasure Island  1934
77354   Treasure Island  1950
65051   Treasure Island  1972
37238   Treasure Island  1973
173051  Treasure Island  1985
27076   Treasure Island  1999

### How many movies were made in the year 1950?

In [9]:
len(titles[titles.year==1950])

1113

### How many movies were made in the year 1960?

In [10]:
len(titles[titles.year==1960])

1549

### How many movies were made from 1950 through 1959?

In [11]:
# a= len(titles[titles.year>1950])
# b= len(titles[titles.year<=1959])
titles[(titles['year']>=1950) & (titles['year']<=1959)].shape[0]

12934

### In what years has a movie titled "Batman" been released?

In [12]:
titles[titles.title=="Batman"]

         title  year
39349   Batman  1943
240896  Batman  1989

### How many roles were there in the movie "Inception"?

In [13]:
cast=pd.read_csv('cast.csv')
cast.head()

FileNotFoundError: [Errno 2] No such file or directory: 'cast.csv'

In [ ]:
len(cast[cast.title=='Inception'])

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [ ]:
incep= cast[cast.title=='Inception']
len(incep[incep['n'].isna()])

### But how many roles in the movie "Inception" did receive an "n" value?

In [ ]:
len(incep[incep['n'].notna()])

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [ ]:
north = cast[cast.title == 'North by Northwest'].sort_values('n')
north[north['n'].notna()]

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [ ]:
cast[(cast.title== 'Sleuth') & (cast.year==1972)].sort_values('n')

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [ ]:
cast[(cast.title=='Sleuth') & (cast.year==2007)].sort_values('n')

### How many roles were credited in the silent 1921 version of Hamlet?

In [ ]:
len(cast[(cast.title=='Hamlet') & (cast.year==1921)].character)

### How many roles were credited in Branagh’s 1996 Hamlet?

In [ ]:
len(cast[(cast.title=='Hamlet') & (cast.year==1996)].character)

### How many "Hamlet" roles have been listed in all film credits through history?

In [ ]:
len(cast[cast.title=='Hamlet'].character)

### How many people have played an "Ophelia"?

In [ ]:
len(cast[cast.character== 'Ophelia'])

### How many people have played a role called "The Dude"?

In [ ]:
len(cast[cast.character== 'The Dude'])

### How many people have played a role called "The Stranger"?

In [ ]:
len(cast[cast.character== 'The Stranger'])

### How many roles has Sidney Poitier played throughout his career?

In [ ]:
len(cast[cast.name== 'Sidney Poitier'].character)

### How many roles has Judi Dench played?

In [ ]:
len(cast[cast.name== 'Judi Dench'].character)

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [ ]:
# cg = cast[(cast.name=='Carry Grant') & (cast['n']==2)] 
# cg.sort_values('year')
cg = cast[(cast.name == 'Cary Grant') & ((cast.year >= 1940) & (cast.year <= 1950)) & (cast.n == 2 )].sort_values('year')
cg

### List the leading roles that Cary Grant played in the 1940s in order by year.

In [ ]:
cg = cast[(cast.name == 'Cary Grant') & ((cast.year >= 1940) & (cast.year <= 1950)) & (cast.n == 1 )].sort_values('year')
cg

### How many roles were available for actors in the 1950s?

In [ ]:
len(cast[(cast.type == 'actor') & ((cast.year >= 1950) & (cast.year <= 1960)) ].character)

### How many roles were available for actresses in the 1950s?

In [ ]:
len(cast[(cast.type == 'actress') & ((cast.year >= 1950) & (cast.year <= 1960)) ].character)

### How many leading roles (n=1) were available from the beginning of film history through 1980?

In [ ]:
len(cast[(cast.year <= 1980) & (cast.n == 1 )])

### How many non-leading roles were available through from the beginning of film history through 1980?

In [ ]:
len(cast[(cast.year <= 1980) & (cast.n == 2 )])

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [ ]:
len(cast[(cast.year <= 1980) & (cast['n'].isna())])